#box1 {
    height: 100px;
    width: 100px;
    background: green;
}

#box1:hover {
    width: 600px;
    transition:  2s ease-in 0.5s;
}

#box2 {
    height: 100px;
    width: 100px;
    background: red;
    transform: rotate(90deg);
    
}

#box3 {
    height: 100px;
    width: 100px;
    background: lightblue;
    transform: skew(20deg);
}

#box4 {
    height: 100px;
    width: 100px;
    background:lightgreen;
    box-shadow: 2px 2px 5px green;
}

#mypic {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 192, 203, 0.5);
    background-image: url("plant.webp");
    background-size: cover;
    opacity: 50%;
}